<h4>Account Options</h4>

<!--Error alert-->
<!--TODO: consider wrapping this into dedicated component-->
<div class="alert alert-danger"
  *ngIf="errorMessage">
  {{errorMessage}}
</div>

<form [formGroup]="form"
  (submit)="submit()">
  <fieldset [disabled]="disabled">

    <!--Boolean values-->
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <div class="checkbox">
          <label>
          <input type="checkbox"
            formControlName="verifyEmail">
          Verify Email
        </label>
        </div>
      </div>

      <div class="col-md-4 col-xs-12">
        <div class="checkbox">
          <label>
          <input type="checkbox"
            formControlName="verifyProviderEmail">
          Verify Provider Email
        </label>
        </div>
      </div>

      <div class="col-md-4 col-xs-12">
        <div class="checkbox">
          <label>
          <input type="checkbox"
            formControlName="allowUnverifiedLogin">
          Allow Unverified Login
        </label>
        </div>
      </div>

      <div class="col-md-4 col-xs-12">
        <div class="checkbox">
          <label>
          <input type="checkbox"
            formControlName="preventLoginIDHarvesting">
          Prevent Login ID Harvesting
        </label>
        </div>
      </div>

      <div class="col-md-4 col-xs-12">
        <div class="checkbox">
          <label>
          <input type="checkbox"
            formControlName="sendWelcomeEmail">
          Send Welcome Email
        </label>
        </div>
      </div>

      <div class="col-md-4 col-xs-12">
        <div class="checkbox">
          <label>
          <input type="checkbox"
            formControlName="sendAccountDeletedEmail">
          Send Account Deleted Email
        </label>
        </div>
      </div>
    </div>

    <!--String values-->
    <div class="row">

      <div class="col-md-4 col-xs-12">
        <div class="form-group">
          <label for="default_language">Default Language</label>
          <input id="default_language"
            type="text"
            class="form-control"
            formControlName="defaultLanguage">
        </div>
      </div>

      <div class="col-md-4 col-xs-12">
        <div class="form-group">
          <label for="login_identifier_conflict">Login Identifier Conflict</label>
          <select id="login_identifier_conflict"
            type="text"
            class="form-control"
            formControlName="loginIdentifierConflict">
            <option *ngFor="let choice of loginIdentifierConflictChoices"
              [value]="choice">{{choice}}</option>
          </select>
        </div>
      </div>

      <div class="col-md-4 col-xs-12">
        <div class="form-group">
          <label for="login_identifiers">Login Identifiers</label>
          <input id="login_identifiers"
            type="text"
            class="form-control"
            formControlName="loginIdentifiers">
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-offset-8 col-md-4 col-xs-12">
        <button type="submit"
          class="btn btn-default btn-block"
          [disabled]="!form.valid">Save</button>
      </div>

    </div>

  </fieldset>
</form>
